@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* tailwind font-mono */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --module-input: hsl(230, 86%, 45%);
    --module-hint: hsl(107, 86%, 44%);
    --module-output: hsl(0, 100%, 50%);
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 215 20.2% 65.1%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 214, 18%, 38%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --module-input: hsl(223, 83%, 53%);
    --module-hint: hsl(107, 71%, 52%);
    --module-output: hsl(0, 100%, 50%);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.react-flow__handle-connecting {
  border-color: #ff6060 !important;
}

.react-flow__handle-valid {
  border-color: #34dcc5 !important;
}

.react-flow__node {
  outline: none;
  border: 0 solid #555 !important;
}

.selected > * > .node-card {
  border-color: var(--foreground) !important;
}

.react-flow__edge > path {
  stroke: hsl(var(--foreground)) !important;
}

.selected.react-flow__edge > path {
  stroke-width: 3px;
}

::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--muted-foreground));
  border-radius: 3px;
  border: 0;
}
::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(--foreground));
}
